<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script src = "bgscript.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<link href="https://fonts.googleapis.com/css?family=Pacifico&effect=3d-float" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>
	<header>

		<div class="font-effect-3d-float">Tummy</div>

	</header>
  <body>
    {{{body}}}
		<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="schnitzel.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="schnitzel.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
      <!--  <div class="poster hidden">
            <img src="schnitzel.jpg" alt="">
        </div> -->
    </div>
</div>
  </body>
</html>
